html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  background-color: @bg-base;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  height: 50px;
  z-index: 1100;
}