<div class="row">
  <h3>Tasks </h3>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Pending</div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="n in [0,1,2,3,4]">
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-danger" aria-label="Left Align">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
              </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Overdue</div>
      <table class="table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="n in [0,1,2,3,4]">
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-danger" aria-label="Left Align">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
              </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
